{% extends "base.html" %}

{% block content %}
         <h1>Hi, {{  current_user.username  }}</h1>
         {% if form %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.status(cols=50, rows=2) }}
                    {% for error in form.status.errors %}
                        <span style="color: red">{{error}}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>
         {% endif %}
         <br>
         {% for post in posts %}
            {% include "_post.html" %}
         {% endfor %}
{% endblock %}